body {
    background-color: black;
}

div#console {
    position: relative;
    display: inline-block;  
}

p {
    color: greenyellow;
    font-family: 'Lucida Console', ariel;
    white-space: nowrap;
}

.error {
    color: red;
}

textarea {
    background-color: black;
    color: greenyellow;
    font-family: 'Lucida Console', ariel;
    border: none;
}
